body { 

}

h1 {
    margin-left:1rem;
    margin-bottom: 1rem;
}

.dropdown-item:hover {
    background-image:none !important;
}
.dropdown-item:hover{
    color:#6c757d;
}

.dropdown-item:active{
    background-color:#ffc107;
    color:white;
}